.paises-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

.bandeira{
    transition: transform 200ms ease-in-out;
}

.container{
    background-image: linear-gradient(
        to top right,
        rgb(91, 77, 114),
        rgb(169, 163, 211),
        rgb(182, 164, 211)

        );
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    background-color: rgb(234, 238, 238);
    border-radius: 1rem;
    
}
.nomedosite{
    border: 3px solid black;
    padding: 20px;
    background-color: rgb(34 34 34);
    color: white;
    font-family: "Permanent Marker", cursive;
    
}
.botao{
    background-color: rgb(66, 20, 126);
    padding: 20px;
    width: 200px;
    color: white;
    border-radius: 0;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 0px black;
    font-family: 'Courier New', Courier, monospace;
}
.bandeira:hover {
    transform: scale(1.05);
}

.paises-container{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 1rem;
    background-image: linear-gradient(
        to top right,
        rgb(44, 8, 90),
        rgb(121, 76, 180),
        rgb(149, 117, 194)
    );

    max-width: max-content;
    
}

.bandeira{
    border: 3px solid black;
}

.titulo{
    position: relative;
    display: flex;
    align-items: center;
    color: rgb(238, 238, 238);
    font-family: "Permanent Marker";
}

.container{
    overflow: hidden;
}

.titulo1{
    border: 4px solid rgb(98, 0, 255);
    background-color: rgb(179, 117, 236);
    border-radius: 1rem;
    max-width: max-content;
    display: flex;
    margin: auto;
}

@font-face {
    font-family: fontcorrida;
    src: url(/fonts/Corrida.otf);
}

.nomesintegrantes{
    font-family: fontcorrida;
}

.nomes-creditos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container2{
    background-color: #9f7cba;
}

@font-face {
    font-family: Mina;
    src: url(/fonts/Mina-Regular.ttf);
}

@font-face {
    font-family: fonttitulo;
    src: url(/fonts/PaytoneOne-Regular.ttf);
}

@font-face {
    font-family: fontdesc1;
    src: url(/fonts/MuseoModerno-VariableFont_wght.ttf);
}

.nameweb{
    font-family: "Permanent Marker";
}

.descweb{
    font-family: Mina;
}

.nameweb2{
    font-family: fonttitulo;
}


.descweb2{
    font-family: Michroma;
}

.descweb3{
    font-family: Michroma;
}
